:root {
  --ff-main: "Montserrat", sans-serif;
}

body {
  font-family: var(--ff-main);
}

.wrapper {
  max-width: 1440px;
  padding: 55px;
  background: rgba(255, 255, 255, 0.8);
}

/* header */
.header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 48px;
}

.header__container {
  display: flex;
  gap: 11px;
}

.header__ul {
  display: flex;
  align-items: center;
  gap: 42px;
}

.header__a {
  color: #000;
  font-size: 17px;
  font-weight: 500;
  position: relative;
}

.header__a::before {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: -8px;
  transition: 0.2s all ease-in-out;
}

.header__a:hover::before {
  width: calc(100% - 5px);
}

.header__icons {
  display: flex;
  align-items: center;
  gap: 25px;
}

/* container (aside+main) */
.container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

/* aside */
.aside__title {
  color: #000;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 54px;
}

.aside__ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.aside__a {
  color: #000;
  font-size: 15.71px;
  font-weight: 500;
}

/* main */
.main {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "get get girl3 girl4"
    "summer summer girl3 girl4"
    "girl1 girl2 trending trending"
    "girl1 girl2 buy buy";
  gap: 10px;
}

.main__a_get {
  grid-area: get;
}

.main__a_summer {
  grid-area: summer;
}

.main__a_trending {
  grid-area: trending;
}

.main__a_buy {
  grid-area: buy;
}

.main__a_girl3 {
  grid-area: girl3;
}

.main__a_girl4 {
  grid-area: girl4;
}

.main__a_girl1 {
  grid-area: girl1;
}

.main__a_girl2 {
  grid-area: girl2;
}

@media screen and (min-width: 992px) {
  .aside__a {
    position: relative;
  }
  .a__new::before {
    content: url("img-icons/new.svg");
    position: absolute;
    right: 60px;
  }
  .a__clothing::before {
    content: url("img-icons/clothing.svg");
    position: absolute;
    right: 75px;
  }
  .a__shoes::before {
    content: url("img-icons/shoes.svg");
    position: absolute;
    right: 56px;
  }
  .a__accessories::before {
    content: url("img-icons/accessories.svg");
    position: absolute;
    right: 102px;
  }
  .a__activewear::before {
    content: url("img-icons/activewear.svg");
    position: absolute;
    right: 96px;
  }
  .a__gifts::before {
    content: url("img-icons/gifts.svg");
    position: absolute;
    right: 112px;
  }
  .a__inspiration::before {
    content: url("img-icons/inspiration.svg");
    position: absolute;
    right: 89px;
  }
}
