:root {
  --ff-main: "Montserrat", sans-serif;
  --color-main: #000;
}

body {
  font-family: var(--ff-main);
}

.wrapper {
  max-width: 1440px;
  padding: 55px;
  background: rgba(255, 255, 255, 0.8);
  margin-inline: auto;
}

/* header */
.header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 48px;
}

.header__container {
  display: flex;
  gap: 11px;
}

.header__ul {
  display: flex;
  align-items: center;
  gap: 42px;
}

.header__a {
  color: var(--color-main);
  font-size: 17px;
  font-weight: 500;
}

.header__icons {
  display: flex;
  align-items: center;
  gap: 25px;
}

/* container (aside+main) */
.container {
  display: flex;
  justify-content: space-between;
  gap: 35px;
}

/* aside */
.aside {
  min-width: 140px;
}

.aside__title {
  color: var(--color-main);
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 54px;
}

.aside__ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.aside__li {
  display: flex;
  gap: 10px;
}

.aside__img {
  max-width: 22px;
}

.aside__a {
  color: var(--color-main);
  font-size: 15.71px;
  font-weight: 500;
}

/* main */
.main {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "get get girl3 girl4"
    "summer summer girl3 girl4"
    "girl1 girl2 trending trending"
    "girl1 girl2 buy buy";
  gap: 13px;
}

.main__a_get {
  grid-area: get;
}

.main__a_summer {
  grid-area: summer;
}

.main__a_trending {
  grid-area: trending;
}

.main__a_buy {
  grid-area: buy;
}

.main__a_girl3 {
  grid-area: girl3;
}

.main__a_girl4 {
  grid-area: girl4;
}

.main__a_girl1 {
  grid-area: girl1;
}

.main__a_girl2 {
  grid-area: girl2;
}

@media screen and (min-width: 992px) {
  .header__a {
    position: relative;
  }
  .header__a::before {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    position: absolute;
    bottom: -8px;
    transition: 0.2s all ease-in-out;
  }
  .header__a:hover::before {
    width: calc(100% - 5px);
  }
}
