:root {
  --ff-main: "Montserrat", sans-serif;
  --color-main: #000;
  --color-menu: #0aec1d;
  --color-hover: #ec0a33;
  --color-wrapper: rgba(255, 255, 255, 0.8);
}

body {
  font-family: var(--ff-main);
}

.wrapper {
  max-width: 1440px;
  padding: 55px;
  background: var(--color-wrapper);
  margin-inline: auto;
}

/* header */
.header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 48px;
}

.header__container {
  display: flex;
  gap: 10px;
}

.header__ul {
  display: flex;
  align-items: center;
  gap: 42px;
}

.header__a {
  color: var(--color-main);
  font-size: 17px;
  font-weight: 500;
}

.header__icons {
  display: flex;
  align-items: center;
  gap: 25px;
}

/* container (aside+main) */
.container {
  display: flex;
  justify-content: space-between;
  gap: 35px;
}

/* aside */
.aside {
  min-width: 140px;
}

.aside__title {
  color: var(--color-main);
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 54px;
}

.aside__ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.aside__li {
  display: flex;
  gap: 10px;
}

.aside__img {
  max-width: 22px;
}

.aside__a {
  color: var(--color-main);
  font-size: 15.71px;
  font-weight: 500;
}

/* main */
.main {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "get get girl3 girl4"
    "summer summer girl3 girl4"
    "girl1 girl2 trending trending"
    "girl1 girl2 buy buy";
  gap: 13px;
}

.main__a_get {
  grid-area: get;
}

.main__a_summer {
  grid-area: summer;
}

.main__a_trending {
  grid-area: trending;
}

.main__a_buy {
  grid-area: buy;
}

.main__a_girl3 {
  grid-area: girl3;
}

.main__a_girl4 {
  grid-area: girl4;
}

.main__a_girl1 {
  grid-area: girl1;
}

.main__a_girl2 {
  grid-area: girl2;
}

/* icons */
.list,
.menu-burger {
  display: none;
  color: var(--color-main);
  font-size: 40px;
}

.close {
  display: none;
  color: var(--color-main);
}

@media screen and (min-width: 992px) {
  .header__a {
    position: relative;
  }
  .header__a::before {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: var(--color-main);
    position: absolute;
    bottom: -8px;
    transition: 0.2s all ease-in-out;
  }
  .header__a:hover::before {
    width: calc(100% - 5px);
  }
  .aside__a {
    transition: 0.2s all ease-in-out;
  }
  .aside__a:hover {
    color: var(--color-hover);
  }
}

@media screen and (max-width: 992px) {
  .wrapper {
    padding: 20px;
  }
  .header {
    margin-bottom: 15px;
  }
  .header__nav,
  .aside {
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--color-menu);
    top: 0;
    left: 0;
    padding: 20px 40px;
    transition: 0.2s all ease-in-out;
    transform: translateX(-120%);
  }
  .header__nav_active,
  .aside_active {
    transform: translateX(0);
  }
  .list,
  .menu-burger,
  .close {
    display: inline-block;
  }
  .header__ul,
  .aside__ul {
    flex-direction: column;
    align-items: normal;
  }
  .close {
    width: 24px;
  }
  .header__icons {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .icons-menu {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .aside__title {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 576px) {
  .main {
    grid-template-columns: repeat(2, auto);
    grid-template-areas:
      "get get"
      "summer summer"
      "girl1 girl2"
      "girl1 girl2"
      "girl3 girl4"
      "girl3 girl4"
      "trending trending"
      " buy buy";
  }
}
